@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap");

/* :root {
} */

body {
  color: var(--dark);
  font-size: var(--font-md);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
